@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  display: block;
  text-align: center;
  padding: 0.5rem;
  margin-top: 5rem;
  h1 {
    font-size: 0rem;
    margin-bottom: 1rem;
    color: $cardNavBgColor;
  }

  .btns {
    
    @include flex(row, center, 1rem);
    button {
      
      padding: 1rem;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 1s;
      &:hover {
        background-color: $btnHoverColor;
      }
    }
  }
}
