/* Color Thematches in Hex */
$Teal-Dream-1: #4C4A59;
$Teal-Dream-2: #1B7F7A;
$Teal-Dream-3: #0897B4;
$Teal-Dream-4: #4CABA6;
$Teal-Dream-5: #F2CDAC; 

/* Color Theme Swatches in Hex */
$Teal-Dark-1: #2C3532;
$Teal-Dark-2: #0F6466;
$Teal-Dark-3: #D8B08C;
$Teal-Dark-4: #FFCB9A;
$Teal-Dark-5: #D2E8E3;
