.title {
  background-color: antiquewhite;
  height: 8rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  color: skyblue;
}
